#home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#home.container {
  padding-top: 17.9rem;
  padding-bottom: 3.253rem;
}

/* #home > div {
  min-width: 40%;
}
#home > div:nth-child(1) {
  min-width: 50%;
} */

#home h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
  text-align: left;
}

#home p {
  font-weight: 500;
  color: var(--grey);
  margin-bottom: 3.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  overflow: hidden;
  white-space: nowrap;
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 2s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}


/* Botões da página home*/

#buttonCV {
  background-color: var(--purple);
  color: var(--background);
  padding: 12px 18px;
  border: 1px solid #333333;
  font-family: sans-serif;
  font-weight: 500;
  
}

#buttonContact {
  padding: 12px 14px;
  background-color: #171717;
  border: 1px solid #333333;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  margin-left: 10px;
  
}

#home div:nth-child(2) {
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

#home img {
  max-width: 30rem;
  max-height: 25.447rem;
}

@media (max-width: 1024px) {
  #home {
    grid-template-columns: 0.6fr 0.4fr;
  }
}

@media (max-width: 768px) {
  #home.container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 15rem;
  }

  #home h2 {
    text-align: center;
  }
  #home p {
    text-align: center;
  }
  #home img {
    margin-bottom: 3rem;
  }
  #home #botoes {
    display: flex;
    text-align: center;
    max-width: 100%;
    flex-direction: column;
  }
  #buttonContact{
    margin-top: 10px;
    margin-left: 0;
  }
  #home #btoes a:nth-child(1) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 500px) {
  #home {
    height: 100%;
  }
}

